/* Global */

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color: var(--darknavy)
}


:root {
/* colors */

--cornflower: #6382D4;
--darkcornflower: #263B74;
--lightcornflower: #A5B9F1;
--verylightcornflower: #E6ECFB;
--darknavy: #010D26;
--purple: #584A8B;
--indigo: #301496;
--greypurple: #827D93;
--green: #246C31;
--red: #982C2C;
--yellow: #CFAD18;
--parchment: #ECEAE4;
}

/* Main */

#root {
  width: 100vw;
  height: 100vh;
  background-color: #A5B9F1;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Todo List Component */

.listContainer {
  width: 66vw;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.itemContainer {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: var(--parchment);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

form {
  margin-right: 2rem;
}

.todoItem {
  font-size: 2rem;
  font-weight: 700;
  width: 75%;
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  width: 100%;
}

.itemInfo {
  width: 100%;
}

.label {
  font-weight: 700;
  font-size: 1rem;
}

.notesSection {
  width: 75%;
  justify-self: center;
  margin-bottom: 2rem;
}

/* Editing UI */

.taskButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  background-color: var(--greypurple);
  position: absolute;
}

.saveButton, .modifyTaskButton {
  bottom: 1rem;
  right: 1rem;
}

.saveButton {
  background-color: var(--green);
}

.cancelButton {
  bottom: 1rem;
  right: 5.5rem;
}

.deleteButton {
  bottom: 1rem;
  left: 1rem;
  background-color: var(--red);
}

.modifyTaskButton:hover, .cancelButton:hover {
  background-color: var(--darkcornflower);
}

/* Add Task Form */

.addTaskForm {
  background-color: var(--parchment);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
}

.submitTaskButton {
  margin-top: 1rem;
  width: 50%;
  padding: 0.5rem 1rem;
  align-self: center;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  background-color: var(--greypurple);
}

.submitTaskButton:hover {
  background-color: var(--darkcornflower);
}

/* Edit Task Form */

.editTaskInput, .notesInput {
  border: none;
  background: transparent;
  font-family: "Roboto";
  font-size: 1rem;
}

.notesInput {
  width: 100%;  
}

.editTitle {
  font-size: 2rem;
  font-weight: 700;
  width: 75%;
}