/* Global */

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color: var(--darknavy)
}


:root {
/* colors */

--cornflower: #6382D4;
--darkcornflower: #263B74;
--lightcornflower: #A5B9F1;
--verylightcornflower: #E6ECFB;
--darknavy: #010D26;
--purple: #584A8B;
--indigo: #301496;
--greypurple: #827D93;
--green: #246C31;
--lightgreen: #3DA24E;
--red: #982C2C;
--lightred: #CC4A4A;
--yellow: #CFAD18;
--parchment: #ECEAE4;
--charcoal: #3A3A40;
}

/* Main */

#root {
  width: 100vw;
  background-color: #9B99A3;
}

.App {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
}

.appContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease;
}

.appMain {
  min-height: 100vh;
  flex-grow: 1;
  transition: width 0.3s ease;
  overflow: scroll;
  justify-content: center;
  padding: 7rem 0 3rem;
}

/* Todo List Component */

.listContainer {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.listContainer::-webkit-scrollbar {
  display: none;
}

.itemContainer {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: var(--parchment);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.todoItem {
  font-size: 2rem;
  font-weight: 700;
  width: 75%;
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  width: 100%;
}

.itemInfo {
  width: 100%;
}

.label {
  font-weight: 700;
  font-size: 1rem;
}

.notesSection {
  width: 75%;
  justify-self: center;
  margin-bottom: 2rem;
}

.showCompletedTasks {
  width: 25%;
  margin-bottom: 2rem;
}


/* UI */

.hamburgerIcon {
  width: 20px;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sidebarButton {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 1rem;
  width: 100%;
}

.sidebarButton:hover {
  background-color: #87848E;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  background-color: #2E2E33;
}

.button:hover {
  background-color: #87848E;
}

.taskButton {
  position: absolute;
}

.saveButton, .modifyTaskButton {
  bottom: 1rem;
  right: 1rem;
}

.saveButton {
  background-color: var(--green);
}

.saveButton:hover {
  background-color: var(--lightgreen);
}

.cancelButton {
  bottom: 1rem;
  right: 5.5rem;
}

.deleteButton {
  bottom: 1rem;
  left: 1rem;
  background-color: var(--red);
}

.deleteButton:hover {
  background-color: var(--lightred);
}

/* Form Elements */

.addTaskContainer {
  background-color: var(--charcoal);
  width: 33%;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.addTaskContainer p {
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.addTaskMain {
  position: absolute;
  top: -46px;
  right: 0%;
  background-color: transparent;
  border: none;
}

.addTaskButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.addTaskMain svg {
  width: 30px;
}

.sortIcon {
  width: 30px;
  position: absolute;
  top: -46px;
  left: 0px;
}

.addTaskMain span {
  display: none;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
}
.addTaskForm label {
  color: whitesmoke;
}

input {
  margin-bottom: 1rem;
}

.editTaskInput, .notesInput {
  border: none;
  background: transparent;
  font-family: "Roboto";
  font-size: 1rem;
}

.notesInput, .addNotesInput {
  width: 100%;  
}

.addNotesInput {
  background-color: white;
}

.editTitle {
  font-size: 2rem;
  font-weight: 700;
  width: 75%;
}

.custom-checkbox input{
  display: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #2E2E33;
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #2E2E33;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  left: 5px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Sort Menu */

.sortDropdown {
  background-color: var(--charcoal);
  width: 15rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -30px;
  left: 40px;
  z-index: 1;
}

.sortButton {
  background-color: transparent;
}

/* Sidebar */

.sidebar {
  height: 100%;
  background-color: var(--charcoal);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: width 0.3s ease;
  position: relative;
}

.appContainer.expanded .sidebar {
   width: 17.5%;
}

.appContainer.collapsed .sidebar {
  width: 3%;
}

.userProfileFooter {
  position: absolute;
  bottom: 0%;
  display: flex;
  padding: 2rem 1rem;
}

.userProfileFooter span {
  color: whitesmoke;
  margin-left: 1rem;
}

.profilePicture {
  width: 20px;
  border-radius: 50%;
}

.sidebarButton span {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.3rem;
}

.collapsed {
  display: none;
}

.sidebarIcon {
  width: 15px;
}