
.calendarWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.monthHeader {
    font-size: 4rem;
    color: #BFC0C7;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.monthContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 0.5px solid #BFC0C7;
    aspect-ratio: 6/7;
    height: 40vw;
}

.dayContainer {
    position: relative;
    border: 0.5px solid #BFC0C7;
}

.dayContainer span {
    color: #BFC0C7;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

