/* Global */

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color: var(--darknavy)
}


:root {
/* colors */

--cornflower: #6382D4;
--darkcornflower: #263B74;
--lightcornflower: #A5B9F1;
--verylightcornflower: #E6ECFB;
--darknavy: #010D26;
--purple: #584A8B;
--indigo: #301496;
--greypurple: #827D93;
--green: #246C31;
--lightgreen: #3DA24E;
--red: #982C2C;
--lightred: #CC4A4A;
--yellow: #CFAD18;
--parchment: #ECEAE4;
--charcoal: #3A3A40;
}

/* Main */

#root {
  width: 100vw;
  background-color: #9B99A3;
}

.App {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.appContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease;
}

.appMain {
  min-height: 100vh;
  flex-grow: 1;
  transition: width 0.3s ease;
  overflow: scroll;
  justify-content: center;
  padding: 7rem 0 3rem;
}

/* Todo List Component */

.listContainer, .archiveListContainer {
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.listContainer::-webkit-scrollbar {
  display: none;
}

.itemContainer, .archivedContainer {
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: var(--parchment);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.todoItem {
  font-size: 2rem;
  font-weight: 700;
  width: 75%;
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  width: 100%;
}

.itemInfo {
  width: 100%;
}

.label {
  font-weight: 700;
  font-size: 1rem;
}

.notesSection {
  width: 75%;
  justify-self: center;
  margin-bottom: 2rem;
}

.taskActionsIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
}

.showCompletedTasks {
  width: 25%;
  margin-bottom: 2rem;
}

.taskActionMenu {
  position: absolute;
  right: -5rem;
  top: 2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--charcoal);
  width: 10%;
  padding: 0.5rem;
  border-radius: 10px;
}

.taskActionButton {
  margin-bottom: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}

.taskActionButton:last-of-type {
  margin-bottom: 0;
}

.taskActionButton:hover {
  background-color: #87848E;
}

/* Toolbar */

.searchHeader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%
}
.searchBackIcon {
  transform: rotate(90deg);
  width: 40px;
  position: absolute;
  left: -2rem;
}

.toolbarMain {
  width: 65vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.toolbarMain.hidden {
  display: none;
}

.toolbarIcon {
  width: 30px;
}

.addTaskMain {
  margin-left: auto;
}

.toolbarLeft, .toolbarRight {
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.toolbarLeft {
  margin-right: auto;
}

.toolbarRight {
  margin-left: auto;
}

.toolbarIcon:nth-of-type(2) {
  margin-left: 2rem;
}

.completedTaskSwitch, .archiveHeaderContainer {
  justify-self: center;
}

.viewCountMenu {
  background-color: transparent;
  border: none;
}

.viewCountMenu span {
  color: whitesmoke;
  font-size: 1rem;
} 

/* Search Page */

.searchContainer {
  width: 60vw;
  background-color: var(--charcoal);
  padding: 1rem;
  border-radius: 5px;
  height: auto;
  margin-bottom: 2rem;
}

.searchbar {
  position: relative;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.searchbarIcon {
  width: 20px;
  display: inline;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translate(0, -50%);
}

.searchbar input {
  margin-bottom: 0;
}

input[type="search"] {
  all: unset;     
  height: 1.5rem;  
  width: 100%;  
  height: 100%;  
  box-sizing: border-box;    
  display: inline-block;                    
  padding: 0.5rem 1rem;      
  border-radius: 4px;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  margin-left: 1.5rem;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.queryParamContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.queryParamButton, .paramOption {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
}

.queryParamButton {
  position: relative;
  display: flex;
  justify-content: center;
  width: 25%;
}

.queryParamButton:hover, .paramOption:hover {
  background-color: #87848E;
}

.paramText {
  color: whitesmoke;
  font-weight: 500;
  margin-left: 0.5rem;
}

.dateParam.hidden {
  display: none;
}

.paramIcon {
  height: 1.2rem;
}

.paramDropdownMenu.visible, .dateParam.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: var(--charcoal);
  z-index: 1;
}

.paramOption {
  color: whitesmoke;
  border-radius: 0;
  display: block;
  width: 100%;
  margin: 0;
}

.paramDropdownMenu.hidden {
  display: none;
}

.dateTypeButtons {
  position: absolute;
  top: 100%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 2rem;
  background-color: var(--charcoal);
  margin: 1rem 0;
}

.dateTypeButton {
  width: fit-content;
  color: whitesmoke;
  display: block;
  border-radius: 50px;
  padding: 0.5rem;
}

.dateTypeButton.active {
  background-color: #87848E;
}

.archivedBadge.visible {
  background-color: var(--charcoal);
  color: whitesmoke;
  font-style: italic;
  padding: 0.4rem;
  display: inline;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 10px;
}

.archivedBadge.hidden {
  display: none;
}

/* UI */

.hamburgerIcon {
  width: 20px;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sidebarButton {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 1rem;
  width: 100%;
}

.sidebarButton:hover {
  background-color: #87848E;
}

.sidebarIcon circle, .sidebarIcon path {
  stroke: whitesmoke;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  background-color: #2E2E33;
}

.button:hover {
  background-color: #87848E;
}

.taskButton {
  position: absolute;
}

.saveButton, .modifyTaskButton {
  bottom: 1rem;
  right: 1rem;
}

.addTaskSubmit {
  position: absolute;
}

.saveButton {
  background-color: var(--green);
}

.saveButton:hover {
  background-color: var(--lightgreen);
}

.cancelButton {
  position: absolute;
  bottom: 1rem;
  right: 6rem;
}

.addTaskCancel {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.deleteButton {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--red);
}

.deleteButton:hover {
  background-color: var(--lightred);
}

.completedTaskSwitch, .archiveHeaderContainer {
  width: 20%;
  background-color: #87848E;
  border-radius: 5px;
  padding: 2px;
}

.archiveHeaderContainer {
  background-color: var(--charcoal);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
}

.archivedTasksHeader {
  font-size: 1rem;
  color: whitesmoke;
  font-weight: 400;
  margin-left: 0.5rem;
}

.headerIcon {
  width: 20px;
}

.headerIcon.backButton {
  transform: rotate(90deg);
  position: absolute;
  left: 1rem;
}

.headerIcon circle, .headerIcon path {
  stroke: whitesmoke;
}

.completedSwitchButton {
  background-color: transparent;
  border: none;
  width: 50%;
  border-radius: 5px;
  padding: 0.5rem;
}

.completedSwitchButton.inactive {
  background-color: #87848E;
  color: whitesmoke;
}

.completedSwitchButton.active {
  background-color: var(--charcoal);
  color: whitesmoke;
}

/* User Profile Footer */

.userProfileFooter {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.profileBanner {
  display: flex;
  justify-content: center;
  position: relative;
}

.profileBanner span {
  color: whitesmoke;
  margin-left: 1rem;
}

.dropdownIcon {
  width: 15px;
}

.dropdownIcon.expanded {
  transform: rotate(180deg);
}

.dropdownIcon.sidebarCollapsed {
  display: none;
}

.profilePicture {
  width: 20px;
  border-radius: 50%;
}

.profileButtons {
  display: flex;
  flex-direction: column;
}

.profileButton {
  background-color: transparent;
  border: none;
  margin-top: 0.5rem;
  position: relative;
  padding: 0.25rem;
  width: 55%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.profileButton:hover {
  background-color: #87848E;
}

.profileButton span {
  color: whitesmoke;
  margin-left: 2rem;
}

.profileIcon {
  width: 15px;
  position: absolute;
  left: 0.1rem;
}

/* Form Elements */

.addTaskContainer {
  background-color: var(--charcoal);
  width: 33%;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.addTaskContainer p {
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.addTaskMain {
  background-color: transparent;
  border: none;
}

.addTaskButtonContainer {
  display: flex;
  justify-content: space-between;
}

.addTaskMain svg {
  width: 30px;
}

.addTaskMain span {
  display: none;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.addTaskForm label {
  color: whitesmoke;
}

input {
  margin-bottom: 1rem;
}

.editTaskInput, .notesInput {
  border: none;
  background: transparent;
  font-family: "Roboto";
  font-size: 1rem;
}

.notesInput, .addNotesInput {
  width: 100%;  
}

.addNotesInput {
  background-color: white;
}

.editTitle {
  font-size: 2rem;
  font-weight: 700;
  width: 75%;
}

.custom-checkbox input{
  display: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid #2E2E33;
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #2E2E33;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  left: 5px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Sort Menu */

.sortDropdown {
  background-color: var(--charcoal);
  width: 15rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  left: 10px;
  z-index: 1;
}

.sortButton {
  background-color: transparent;
}

/* Sidebar */

.sidebar {
  height: 100%;
  background-color: var(--charcoal);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: width 0.3s ease;
  position: relative;
}

.appContainer.expanded .sidebar {
   width: 17.5%;
}

.appContainer.collapsed .sidebar {
  width: 3%;
}

.sidebarButton span {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.3rem;
}

.collapsed {
  display: none;
}

.sidebarIcon {
  width: 15px;
}

/* Login Page */

.loginPageBody {
  background-color: var(--charcoal);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPageLogo {
  width: 15vw;
  margin-bottom: 1.5rem;
}

.loginContainer, .createAccountForm {
  width: 28%;
  height: auto;
  background-color: var(--parchment);
  padding: 1.5rem;
  border-radius: 10px;
}

.loginContainer form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.loginContainer, .loginContainer form {
  display: flex;
  display: flex;
  flex-direction: column;
}

.loginContainer p:first-of-type, .createAccountForm p:first-of-type {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.loginContainer form button, .loginButtonSecondary {
  border-radius: 5px;
  border: none;
} 

.loginContainer form button {
  width: 40%;
  background-color: var(--charcoal);
  font-size: 1rem;
  color: whitesmoke;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.loginButtonSecondary {
  width: 33%;
  font-size: 0.75rem;
  padding: 0.25rem;
  background-color: transparent;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.loginButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.loginButtonContainer button:hover {
  background-color: #87848E;
}

.loginButtonContainer button:nth-of-type(2) {
  background-color: transparent;
  border: 1px solid var(--charcoal);
  color: var(--charcoal);
}

/* create account page */

.createAccountForm form {
  display: flex;
  flex-direction: column;
}

.createAccountForm p {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}